{% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}titulo de la pagina{% enblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/main/app.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main/app-dark.css %}">
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.svg' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png' %}" type="image/png">
    
<link rel="stylesheet" href="{% static 'assets/css/shared/iconly.css' %}">
