{% extends 'base.html' %} 
{% load static %}
{% block title %} Lista de administradores {% endblock %} 
{% block mainb %}

{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'error' %}
      <script>
          Swal.fire({
          title: "Error",
          text: "{{ message }}",
          icon: "error",
        });
      </script>
  {% endif %}
  {% if message.tags == 'success' %}
      <script>
        Swal.fire({
        title: "Éxito",
        text: "{{ message }}",
        icon: "success",
      });
      </script>
  {% endif %}
  {% endfor %}
{% endif %}

<section class="section">
  <div class="row" id="table-striped">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Modalidades actuales</h4>
          <a href="{% url 'administracion:crear_modalidad' %}" class="btn btn-success float-end">Crear modalidad</a>
        </div>
        <div class="card-content">
          <!-- table striped -->
          <div class="table-responsive">
            <table class="table table-striped mb-0">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>descripción</th>
                  <th>Fecha de inicio</th>
                  <th>Fecha de finalización</th>
                  <th>Presupuesto</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for modalidad in modalidades %}
                <tr>
                  <td>
                    {{modalidad.nombre}}
                  </td>
                  <td>{{ modalidad.descripcion|slice:":70" }}</td>
                  <td>{{modalidad.fecha_inicio}}</td>
                  <td>{{modalidad.fecha_fin}}</td>
                  <td>{{modalidad.presupuesto}}</td>
                  <td>
                    <button type="button" 
                      class="btn btn-icon btn-primary" 
                      data-bs-toggle="modal" 
                      data-bs-target="#inlineForm{{modalidad.pk}}"
                      ><i class="bi bi-pencil-fill"></i>
                    </button>
                    <a
                      href="{% url 'administracion:eliminar_modalidad' modalidad.pk %}"
                      class="btn btn-icon btn-danger"
                      ><i class="bi bi-trash-fill"></i
                    ></a>
                  </td>
                </tr>
                {% empty %}
                <h2>No se encontraron administradores.</h2>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  {% for modalidad in modalidades %}
  <div class="modal fade text-left" id="inlineForm{{modalidad.pk}}" tabindex="-1" aria-labelledby="myModalLabel33" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel33">
            Editar modalidad
          </h4>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
          </button>
        </div>
        <form action="#" data-bitwarden-watching="1">
          <div class="modal-body" style="  max-height: calc(100vh - 210px);
          overflow-y: auto;">
            <div class="row">
              <input id="id{{modalidad.pk}}" type="text" hidden placeholder="id" class="form-control" value="{{modalidad.pk}}" disabled>
              <div class="col-md-6 col-12">
                <label for="nombre">Nombre: </label>
                <div class="form-group">
                  <input id="nombre{{modalidad.pk}}" type="text" placeholder="Nombre" class="form-control" value="{{modalidad.nombre}}">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <label for="presupuest_asignado">Presupuesto: </label>
                <div class="form-group">
                  <input id="presupuest_asignado{{modalidad.pk}}" type="number" placeholder="Presupuesto" class="form-control" value="{{modalidad.presupuesto}}">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <label for="fecha_inicio">Fecha de inicio: </label>
                <div class="form-group">
                  <input id="fecha_inicio{{modalidad.pk}}" type="date" placeholder="Fecha de inicio" class="form-control" value="{{ modalidad.fecha_inicio|date:'Y-m-d' }}">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <label for="fecha_finalizar">Fecha de finalización: </label>
                <div class="form-group">
                  <input id="fecha_fin{{modalidad.pk}}" type="date" placeholder="Fecha de inicio" class="form-control" value="{{ modalidad.fecha_fin|date:'Y-m-d' }}">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <label for="apellido_paterno">Descripcion: </label>
                <div class="form-group">
                  <textarea id="descripcion{{modalidad.pk}}" rows="3" type="text" placeholder="Descripcion" class="form-control">{{modalidad.descripcion}}</textarea>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <label for="apellido_paterno">requisitos: </label>
                <div class="form-group">
                  <textarea id="requisitos{{modalidad.pk}}" rows="3" type="text" placeholder="Descripcion" class="form-control">{{modalidad.requisitos}}</textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
              <i class="bx bx-x d-block d-sm-none"></i>
              <span class="d-none d-sm-block">Cancelar</span>
            </button>
            <button type="button" class="btn btn-primary ms-1" data-bs-dismiss="modal" id="GuardarModalidad{{modalidad.pk}}">
              <i class="bx bx-check d-block d-sm-none"></i>
              <span class="d-none d-sm-block">Guardar</span>
            </button>            
          </div>
        </form>
      </div>
    </div>
  </div>
  
  {% endfor %}
</section>
{% endblock mainb %} 
{% block extra_scripts %} 
<script>
  const csrf_token = "{{ csrf_token }}";
</script>
<script src="{% static 'assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
{% endblock extra_scripts %}
