{% extends 'base.html' %} 
{% load static %}
{% block title %} Lista de administradores {% endblock %} 
{% block mainb %}
<section class="section">
  <div class="row" id="table-striped">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Administradores del sistema</h4>
          <a href="{% url 'administracion:crear_administrador' %}" class="btn btn-success float-end">Crear administrador</a>
        </div>
        {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <script>
              Swal.fire({
              title: "Error",
              text: "{{ message }}",
              icon: "error",
            });
            </script>
          {% endif %}
          {% if message.tags == 'success' %}
            <script>
              Swal.fire({
              title: "Éxito",
              text: "{{ message }}",
              icon: "success",
            });
            </script>
          {% endif %}
        {% endfor %}
      {% endif %}
        <div class="card-content">
          <!-- table striped -->
          <div class="table-responsive">
            <table class="table table-striped mb-0">
              <thead>
                <tr>
                  <th>Nombre completo</th>
                  <th>Correo</th>
                  <th>Telefono celular</th>
                  <th>Nivel de acceso</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for admin in administradores %}
                <tr>
                  <td>
                    {{admin.first_name}} {{admin.apellido_paterno}}
                    {{admin.apellido_materno}}
                  </td>
                  <td>{{admin.email}}</td>
                  <td>{{admin.telefono_celular}}</td>
                  <td>{{admin.nivel_acceso}}</td>
                  <td>
                    <button type="button" 
                      class="btn btn-icon btn-primary" 
                      data-bs-toggle="modal" 
                      data-bs-target="#inlineForm{{admin.id}}"
                      ><i class="bi bi-pencil-fill"></i>
                    </button>
                    <a
                      href="{% url 'administracion:eliminar_usuario' admin.id %}"
                      class="btn btn-icon btn-danger"
                      ><i class="bi bi-trash-fill"></i
                    ></a>
                    <a
                      href="{% url 'administracion:banear_usuario' admin.id %}"
                      class="btn btn-icon btn-warning"
                      ><i class="bi bi-x-circle-fill"></i
                    ></a>
                    <a
                      href="{% url 'administracion:enviar_correo' admin.id %}"
                      class="btn btn-icon btn-info"
                      ><i class="bi bi-envelope-fill"></i
                    ></a>
                  </td>
                </tr>
                {% empty %}
                <h2>No se encontraron administradores.</h2>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  {% for admin in administradores %}
  <div class="modal fade text-left" id="inlineForm{{admin.id}}" tabindex="-1" aria-labelledby="myModalLabel33" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel33">
            Editar usuario
          </h4>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
          </button>
        </div>
        <form action="#" data-bitwarden-watching="1">
          <div class="modal-body" style="  max-height: calc(100vh - 210px);
          overflow-y: auto;">
            <div class="row">
              <input id="id{{admin.id}}" type="text" hidden placeholder="id" class="form-control" value="{{admin.id}}" disabled>
              <div class="col-md-6 col-12">
                <label for="nombre">nombre: </label>
                <div class="form-group">
                  <input id="nombre{{admin.id}}" type="text" placeholder="Nombre" class="form-control" value="{{admin.first_name}}">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <label for="apellido_paterno">Apellido Paterno: </label>
                <div class="form-group">
                  <input id="apellido_paterno{{admin.id}}" type="text" placeholder="Apellido paterno" class="form-control" value="{{admin.apellido_paterno}}">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <label for="apellido_materno">Apellido Materno: </label>
                <div class="form-group">
                  <input id="apellido_materno{{admin.id}}" type="text" placeholder="Apellido materno" class="form-control" value="{{admin.apellido_materno}}">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <label for="telefono_celular">telefono celular: </label>
                <div class="form-group">
                  <input id="telefono_celular{{admin.id}}" type="tel" placeholder="Telefono celular" class="form-control" value="{{admin.telefono_celular}}">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <label for="nivel_acceso">nivel de acceso: </label>
                <div class="form-group">
                  <select name="nivel_acceso" class="form-select" id="nivel_acceso{{admin.id}}">
                    {% if admin.nivel_acceso == "N1" %}
                    <option value="{{admin.nivel_acceso}}">Nivel 1</option>
                    <option value="N2">Nivel 2</option>
                    <option value="N3">Nivel 3</option>
                    {% elif admin.nivel_acceso == "N2" %}
                    <option value="{{admin.nivel_acceso}}">Nivel 2</option>
                    <option value="N1">Nivel 1</option>
                    <option value="N3">Nivel 3</option>>
                    {% elif admin.nivel_acceso == "N3" %}
                    <option value="{{admin.nivel_acceso}}">Nivel 3</option>
                    <option value="N1">Nivel 1</option>
                    <option value="N2">Nivel 2</option>
                    {% else %}
                    <option value="N1">Nivel 1</option>
                    <option value="N2">Nivel 2</option>
                    <option value="N3">Nivel 3</option>
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
              <i class="bx bx-x d-block d-sm-none"></i>
              <span class="d-none d-sm-block">Cancelar</span>
            </button>
            <button type="button" class="btn btn-primary ms-1" data-bs-dismiss="modal" id="GuardarAdmin{{admin.id}}">
              <i class="bx bx-check d-block d-sm-none"></i>
              <span class="d-none d-sm-block">Guardar</span>
            </button>            
          </div>
        </form>
      </div>
    </div>
  </div>
  
  {% endfor %}
</section>
{% endblock mainb %} 
{% block extra_scripts %} 
<script>
  const csrf_token = "{{ csrf_token }}";
</script>
<script src="{% static 'assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
{% endblock extra_scripts %}
