{% extends 'base.html' %}
{% load static %}
{% block title %} Panel principal {% endblock %} 
{% block mainb %}
{% if messages %}
{% for message in messages %}
  {% if message.tags == 'error' %}
    <script>
      Swal.fire({
      title: "Error",
      text: "{{ message }}",
      icon: "error",
    });
    </script>
  {% endif %}
  {% if message.tags == 'success' %}
    <script>
      Swal.fire({
      title: "Éxito",
      text: "{{ message }}",
      icon: "success",
    });
    </script>
  {% endif %}
{% endfor %}
{% endif %}
<div class="container">
    <h1>Panel de control</h1>

    <section class="datos_solicitudes">
        <div class="row">
            <div class="col-6 col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body px-4 py-4-5">
                  <div class="row">
                    <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start">
                      <div class="stats-icon blue mb-2">
                        <i class="iconly-boldProfile"></i>
                      </div>
                    </div>
                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                      <h6 class="text-muted font-semibold">Solicitudes Autorizadas</h6>
                      <h6 class="font-extrabold mb-0">{{solicitudes_autorizado}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body px-4 py-4-5">
                  <div class="row">
                    <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start">
                      <div class="stats-icon green mb-2">
                        <i class="iconly-boldAdd-User"></i>
                      </div>
                    </div>
                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                      <h6 class="text-muted font-semibold">Solicitudes en proceso</h6>
                      <h6 class="font-extrabold mb-0">{{solicitudes_en_proceso}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body px-4 py-4-5">
                  <div class="row">
                    <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start">
                      <div class="stats-icon red mb-2">
                        <i class="bi-life-preserver"></i>
                      </div>
                    </div>
                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                      <h6 class="text-muted font-semibold">Soporte</h6>
                      <h6 class="font-extrabold mb-0">112</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>

    <section class="graficas_usuarios">
        <div class="page-content">
            <section class="row">
              <div class="col-12 col-lg-9">
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h4>Solicitudes por nivel de estudios</h4>
                      </div>
                      <div class="card-body">
                        <canvas id="solicitudesPorNivelEstudios"></canvas>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
    </section>

    <section class="graficas_genero">
      <div class="page-content">
          <section class="row">
              <div class="col-12 col-lg-6">
                  <div class="card">
                      <div class="card-header">
                          <h4>Género de los solicitantes</h4>
                      </div>
                      <div class="card-body">
                          <canvas id="solicitudesPorGenero"></canvas>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </section>
  

    {% block extra_scripts %}
    <script>
      const niveles_estudios = {{ niveles_estudios|safe }};
      const solicitudes_por_nivel = {{ solicitudes_por_nivel|safe }};
      const generos = {{ generos|safe }};
    </script>

    <script src="{% static 'js/graficas_admin.js' %}"></script>
    {% endblock extra_scripts %}

</div>
{% endblock mainb %}