{% extends 'base.html' %} 
{% load static %}
{% block title %} Lista de administradores {% endblock %} 
{% block mainb %}

{% if messages %}
{% for message in messages %}
  {% if message.tags == 'error' %}
    <script>
      Swal.fire({
      title: "Error",
      text: "{{ message }}",
      icon: "error",
    });
    </script>
  {% endif %}
  {% if message.tags == 'success' %}
    <script>
      Swal.fire({
      title: "Éxito",
      text: "{{ message }}",
      icon: "success",
    });
    </script>
  {% endif %}
{% endfor %}
{% endif %}

<section class="section">
  <div class="row" id="table-striped">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Modalidades eliminadas</h4>
        </div>
        <div class="card-content">
          <!-- table striped -->
          <div class="table-responsive">
            <table class="table table-striped mb-0">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>descripción</th>
                  <th>Fecha de inicio</th>
                  <th>Fecha de finalización</th>
                  <th>Presupuesto</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for modalidad in modalidades_eliminadas %}
                <tr>
                  <td>
                    {{modalidad.nombre}}
                  </td>
                  <td>{{ modalidad.descripcion|slice:":70" }}</td>
                  <td>{{modalidad.fecha_inicio}}</td>
                  <td>{{modalidad.fecha_fin}}</td>
                  <td>{{modalidad.presupuesto}}</td>
                  <td>
                    <a 
                        href="{% url 'administracion:restaurar_modalidad' modalidad.pk %}" 
                        class="btn btn-icon btn-success"
                        ><i class="bi bi-arrow-counterclockwise"></i
                    ></a>
                  </td>
                </tr>
                {% empty %}
                <h2>No se encontraron administradores.</h2>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock mainb %} 
{% block extra_scripts %} 
{% endblock extra_scripts %}