@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap');

/*
    Variables
*/
:root {
    /* Colores de fondo*/
    --bg-regular-color: rgb(118, 21, 14);
    --beca-card-border-1: #e1e1e1;
    /* Colores de fuente */
    --small-info-color: rgb(96, 96, 96);

    /*Tamaños de fuente*/
    --header-font-size-reg: 20px;
    --btn-font-size-def: 16px;
}

/*
  GLOBAL STYLES
*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f8f9fa;
}

button {
    background-color: var(--bg-regular-color);
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    font-size: var(--btn-font-size-def);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Roboto', sans-serif;
}

/*Utilidades*/

.title-48 {
    font-size: 3rem;
}

.white-bold {
    color: white;
    font-weight: bold;
}

.small-info-text {
    color: var(--small-info-color);
}

.text-info-white {
    font-family: 'Roboto';
    color: white;
    font-weight: 100;
}

.boton-reg {
    text-decoration: none;
    background-color: var(--bg-regular-color);
    color: white;
    padding: 0.6rem 0.4rem;
    width: 10rem;
    text-align: center;
    display: block;
}

/*
  Register Form
*/
.register-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
}

.form-group .form-control {
    flex: 1;
    margin-right: 10px;
}

.form-group .form-control:last-child {
    margin-right: 0;
}

.alert {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    padding-right: 35px;
    /* Espacio para el botón de cerrar */
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 8px;
    font-weight: bold;
    cursor: pointer;
}


/*
    Index
*/

.topbar-container {
    background-image: url("../img/backgrounds/hero.jpg");
    background-size: 100% 115%;
    background-repeat: no-repeat;
    background-position: center center;
}

.topbar-bg {
    background-color: rgba(136, 136, 136, 0.6);
}

.header-bar {
    padding: 1rem 2rem;
    background-color: transparent;
}

.header-bar a {
    text-decoration: none;
    color: white;
    font-size: var(--header-font-size-reg);
}

.boton-reg #login-btn {
    font-size: var(--header-font-size-reg);
}

.topbar-container>.header-bar {
    padding: 2rem;
}

.topbar {
    display: flex;
    align-items: center;
}

.welcome-sect {
    padding: 2rem;
    padding-left: 5rem;
}

.welcome-sect h1 {
    margin: 3rem 0 0.6rem 0;
}

.welcome-sect> :last-child {
    margin-bottom: 2rem;
}

.topbar a {
    margin: 0 1rem;
}

.brand-bar {
    flex: 1;
    display: flex;
    padding: 1rem;
    max-height: 50px;
}

#brand-logo {
    height: 2.4rem;
    width: 7rem;
}

.header-bar #brand-logo {
    margin-left: 3rem;
}

.centered-column-container .bg-text-line {
    text-align: left;
}

.bg-text-line {
    position: relative;
}

.bg-text-line::before {
    position: absolute;
    content: "";
    top: 20px;
    z-index: -1;
    background-color: var(--bg-regular-color);
    width: 100%;
    height: 5px;
}

.centered-column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.becas {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .becas {
        /* flex-direction: row;
        margin-block-start: 1rem;
        margin-inline: auto;
        max-width: 80rem; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 10px 0;
        padding: 20px;
        align-items: center;
    }
}

.becas .beca {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px var(--beca-card-border-1);
    border-radius: 0.9rem;
    flex-grow: 1;
    padding: 2rem 0.8rem;
    text-align: center;
    max-width: 13rem;
}

.becas .beca>*:not(:first-child):not(:last-child) {
    margin: 0.9rem 0;
}

@media (min-width: 768px) {
    .becas .beca {
        /* min-height: 10em; */
        transition-duration: 0.3s;
        transition-property: transform, -webkit-transform;
    }

    .becas .beca:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.becas .beca img {
    width: 4rem;
}

.becas .beca .presupuesto {
    font-size: 1rem;
    font-weight: 700;
}

.becas .beca .requisitos {
    list-style: none;
    /* margin-bottom: 5px; */
    color: var(--small-info-color);
}

.becas .beca .requisitos li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.info-programa-cozcyt {
    display: flex;
    background-color: var(--bg-regular-color);
    align-items: center;
}

.desc-programa {
    padding: 3rem;
}

.desc-programa h3 {
    margin-bottom: 2rem;
}

#apoyos-img-definition {
    display: none;
}

@media (min-width: 768px) {
    #apoyos-img-definition {
        display: block;
        width: 50%;
        height: 100%;
    }
}

.support-sect {
    border: solid 0.1rem var(--beca-card-border-1);
    border-radius: 0.2rem;
    margin-top: 1rem;
    margin: 1rem 4rem;
    padding-top: 2rem;
}

.support-sect h2 {
    font-size: 2rem;
    color: var(--bg-regular-color);
}

.support-sect form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
    margin-top: 1.5rem;
}

@media (min-width: 768px) {
    .support-sect form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.5rem;
    }

    .support-sect form>.contenedor-campo[id="comentarios"] {
        grid-column-end: span 2;
    }

    .support-sect form>.contenedor-campo[id="comentarios"] .regular-input {
        min-height: 5rem;
    }
}

.support-sect form .contenedor-campo {
    display: flex;
    margin: 0.5rem 0.5rem;
}

@media (min-width: 768px) {
    .support-sect form .contenedor-campo {
        display: flex;
        margin: 0 0.5rem;
    }
}

.support-sect form i {
    display: inline-block;
    color: white;
    background-color: var(--bg-regular-color);
    width: 2rem;
    text-align: center;
    padding-top: .4rem;
    border-radius: 0.3rem 0 0 0.3rem;
}

.support-sect form .contenedor-campo .regular-input {
    flex-grow: 2;
    height: 2rem;
    border-radius: 0 0.3rem 0.3rem 0;
    padding-left: 0.5rem;
}

.support-sect form>.contenedor-campo:last-child .regular-input {
    height: 5rem;
}

.support-sect form button {
    margin-left: 0.5rem;
}

.contacts-sect {
    padding-left: 4rem;
    margin-bottom: 4rem;
}

.contact-card {
    margin: 1rem 0;
}

.gray-footer {
    background-color: rgb(66, 66, 66);
}