{% load static %}
<form method="POST">
    {% csrf_token %}
    <div id="forms">
        <div class="two-container">
            <div id="label-input-container">
                <label id="input-label">Tu nombre*</label>
                <div class="form-input_container">
                    <i class="icon_container fa-solid fa-user"></i>
                    {{form.nombre}}
                </div>
            </div>

            <div id="label-input-container">
                <label id="input-label">Tu E-mail*</label>
                <div class="form-input_container">
                    <i class="icon_container fa-solid fa-envelope"></i>
                    {{form.correo}}
                </div>
            </div>

            <div id="label-input-container">
                <label id="input-label">Teléfono*</label>
                <div class="form-input_container">
                    <i class="icon_container fa-solid fa-phone"></i>
                    {{form.telefono}}
                </div>
            </div>

            <div id="label-input-container">
                <label id="input-label">Asunto*</label>
                <div class="form-input_container">
                    <i class="icon_container fa-solid fa-book"></i>
                    {{form.asunto}}
                </div>
            </div>
        </div>
    </div>

    <div id="text-area-container">
        <div id="form-textarea_container">
            <i class="icon_container fa-solid fa-pencil"></i>
                {{form.comentarios}}
        </div>
    </div>

    <div id="form-footer_container">
        <div id="form-footer">
            <button type="submit">
                <i class="fa-solid fa-envelope"></i>
                <p>ENVIAR</p>
            </button>
        </div>
    </div>
</form>