<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../../static/css/main.css">
</head>

<body>
    <div class="topbar-container">
        <header class="header-bar">
            <nav class="topbar">
                <div class="brand-bar-h">
                    <!-- Imagen del cozcyt (Color) 50px-->
                    <img id="brand-logo" src="../../static/img/icons/Logocozcyt.jpg" alt="logo_cozcyt"
                        title="Logo COZCyT">
                </div>
                <a href="#">Inicio</a>
                <a href="#">Apoyos</a>
                <a href="#">Nosotros</a>
                <a href="#">Contacto</a>
                <button id="login-btn">Login/Registro</button>
            </nav>
        </header>
        <section class="welcome-sect">
            <h1 class="title-48 white-bold">Sistema de<br>Apoyos<br>COSCyT</h1>
            <button id="create-acc">Crear cuenta</button>
        </section>
    </div>
    <main class="centered-column-container">
        <h2 class="bg-text-line">Apoyos disponibles</h2>
        <p class="small-info-text">No dudes en solicitar los apoyos necesarios</p>
        <!-- Aquí será el display de las becas -->
        <div class="becas-display">
            <div class="beca-card">
                <img src="" alt="doc-logo">
                <h3>ESTANCIAS DE INVESTIGACIÓN</h3>
                <h4>$28,000.00</h4>
                <h5>Requerimientos</h5>
                <p>Carta de recepción</p>
                <p>Borrador de investigación</p>
                <p>Estimación de gastos</p>
                <button class="white-bold">Inscribirme</button>
            </div>
            <div class="beca-card">
                <img src="" alt="doc-logo">
                <h3>ESTANCIAS DE INVESTIGACIÓN</h3>
                <h4>$28,000.00</h4>
                <h5>Requerimientos</h5>
                <p>Carta de recepción</p>
                <p>Borrador de investigación</p>
                <p>Estimación de gastos</p>
                <button class="white-bold">Inscribirme</button>
            </div>
            <div class="beca-card">
                <img src="" alt="doc-logo">
                <h3>ESTANCIAS DE INVESTIGACIÓN</h3>
                <h4>$28,000.00</h4>
                <h5>Requerimientos</h5>
                <p>Carta de recepción</p>
                <p>Borrador de investigación</p>
                <p>Estimación de gastos</p>
                <button class="white-bold">Inscribirme</button>
            </div>
        </div>
        <button>Ver todos</button>
    </main>
    <section class="red-info-box">
        <h3 class="white-bold title-48">Apoyos COZCyT</h3>
        <!-- Información de los apoyos de COZCyT -->
        <div class="vert-container">
            <p class="text-info-white">
                El programa <b>APOYOS COSZCYT</b> promueve la producción científica de los estudiantes, investigadores e
                instituciones públicas y organizaciones del estado de Zacatecas, mediante respaldo financiero para
                la:<br>
                <b>Presentación de trabajos (publicación de artículos)</b> en revistas indizadas en catálogos
                internacionales (Journal Citation Reports).<br>
                <b>Estancias de investigación.</b><br>
                <b>Proyectos de innovación tecnológica.</b><br>
                <b>Eventos de difusión</b>, investigación, formación
            </p>
            <img id="apoyos-img-definition" src="" alt="student-img">
        </div>
    </section>
    <section class="centered-column-container">
        <h2 style="color: var(--bg-regular-color);">Contactanos</h2>
        <!-- Formulario -->
    </section>
    <section class="contacts-sect">
        <h4 class="small-info-text">¿A quién contactar para mayor información?</h4>
        <div class="contact-card">
            <p class="small-info-text">Mtra. Sahara María del Río Venegas</p>
            <p class="small-info-text">Directora de Desarrollo de Talento en Ciencia, Tecnología e Innovación</p>
            <p class="small-info-text">sdelrio@cozcyt.gob.mx</p>
            <p class="small-info-text">Tel: (492)921 2816 y (492)921 3018 ext:1526</p>
        </div>
        <div class="contact-card">
            <p class="small-info-text">I.S.C. Nayeli Alcalá Aguilar</p>
            <p class="small-info-text">Jefa del Departamento de Becas</p>
            <p class="small-info-text">nalcala@cozcyt.gob.mx</p>
            <p class="small-info-text">Tel: (492)921 2816 y (492)921 3018 ext:1506</p>
        </div>
        <div class="contact-card">
            <p class="small-info-text">José Luis Alfredo Estrada Espino</p>
            <p class="small-info-text">Encargado de Apoyos</p>
            <p class="small-info-text">aestrada@cozcyt.gob.mx</p>
            <p class="small-info-text">Tel: (492)921 2816 y (492)921 3018 ext:1506</p>
        </div>
    </section>
    <footer class="gray-footer">
        <section>
            <div>
                <!-- Imagen del cozcyt (contorno) 50px-->
                <img id="brand-logo" src="../../static/img/icons/Logocozcyt.jpg" alt="">
            </div>
            <div>
                <h3>
                    UBICACION
                </h3>
                <p><!-- Dirección --></p>
            </div>
            <div>
                <h3>Telefonos</h3>
                <ul>
                    <!-- Agregar como lista los telefonos -->
                </ul>
            </div>
        </section>
        <section>
            <img width="100" src="../../static/assets/images/faces/1.jpg" alt="logo_cozcyt" title="Logo COZCyT">
            <h6>Gobierno del Estado de Zacatecas 2021 - 2027</h6>
            <!-- Insertar logos facebook, twitter, youtube, instagram, correo -->
        </section>
    </footer>
</body>

</html>