<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body>
    <header class="header-1">
        <nav class="topbar">
            <div class="brand-bar-h">
                <!-- Imagen del cozcyt (Color) 50px-->
                <img id="brand-logo-50" src="../../static/assets/images/faces/1.jpg" alt="logo_cozcyt" title="Logo COZCyT">
                <p>CONSEJO ZACATECANO DE<br><span>CIENCIA, TECNOLOGÍA <br>E INNOVACIÓN</span><br>ESTADO DE ZACATECAS</p>
            </div>
            <a href="#">Inicio</a>
            <a href="#">Apoyos</a>
            <a href="#">Nosotros</a>
            <a href="#">Contacto</a>
            <button>Login/Registro</button>
        </nav>
        <section>
            <h1>Sistema de<br>Apoyos<br>COSCyT</h1>
            <button>Crear cuenta</button>
        </section>
    </header>
    <main>
        <h2>Apoyos disponibles</h2>
        <p>No dudes en solicitar los apoyos necesarios</p>
        <!-- Aquí será el display de las becas -->
        <button>Ver todos</button>
    </main>
    <section>
        <h3>Apoyos COZCyT</h3>
        <!-- Información de los apoyos de COZCyT -->
    </section>
    <section>
        <h2>Contactanos</h2>
        <!-- Formulario -->
    </section>
    <section>
        <h4>¿A quién contactar para mayor información?</h4>
        <!-- Despegar información de contacto
        Nombre
        Ocupación
        Correo
        Telefonos -->
    </section>
    <footer>
        <section>
            <div>
                <!-- Imagen del cozcyt (contorno) 50px-->
                <p>CONSEJO ZACATECANO DE<br><span>CIENCIA, TECNOLOGÍA <br>E INNOVACIÓN</span><br>ESTADO DE ZACATECAS</p>
            </div>
            <div>
                <h3>
                    UBICACION
                </h3>
                <p><!-- Dirección --></p>
            </div>
            <div>
                <h3>Telefonos</h3>
                <ul>
                    <!-- Agregar como lista los telefonos -->
                </ul>
            </div>
        </section>
        <section>
            <img id="brand-logo-50" src="../../static/assets/images/faces/1.jpg" alt="logo_cozcyt" title="Logo COZCyT">
            <h6>Gobierno del Estado de Zacatecas 2021 - 2027</h6>
            <!-- Insertar logos facebook, twitter, youtube, instagram, correo -->
        </section>
    </footer>
</body>
</html>