<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body>
    <div class="topbar-container">
        <header class="header-bar">
            <nav class="topbar">
                <div class="brand-bar-h">
                    <!-- Imagen del cozcyt (Color) 50px-->
                    <img id="brand-logo" src="../../static/img/icons/Logocozcyt.jpg" alt="logo_cozcyt" title="Logo COZCyT">
                </div>
                <a href="#">Inicio</a>
                <a href="#">Apoyos</a>
                <a href="#">Nosotros</a>
                <a href="#">Contacto</a>
                <button id="login-btn">Login/Registro</button>
            </nav>
        </header>
        <section class="welcome-sect">
            <h1 class="title-36 white-bold">Sistema de<br>Apoyos<br>COSCyT</h1>
            <button id="create-acc">Crear cuenta</button>
        </section>
    </div>
    <main class="summary-becas-container">
        <h2 class="bg-text-line">Apoyos disponibles</h2>
        <p class="small-info-text">No dudes en solicitar los apoyos necesarios</p>
        <!-- Aquí será el display de las becas -->
        <div class="becas-display">
            <div class="beca-card">
                <img src="" alt="">
                <h3>ESTANCIAS DE INVESTIGACIÓN</h3>
                <h4>$28,000.00</h4>
                <h5>Requerimientos</h5>
                <p>Carta de recepción</p>
                <p>Borrador de investigación</p>
                <p>Estimación de gastos</p>
                <button class="white-bold">Inscribirme</button>
            </div>
            <div class="beca-card">
                <img src="" alt="">
                <h3>ESTANCIAS DE INVESTIGACIÓN</h3>
                <h4>$28,000.00</h4>
                <h5>Requerimientos</h5>
                <p>Carta de recepción</p>
                <p>Borrador de investigación</p>
                <p>Estimación de gastos</p>
                <button class="white-bold">Inscribirme</button>
            </div>
            <div class="beca-card">
                <img src="" alt="">
                <h3>ESTANCIAS DE INVESTIGACIÓN</h3>
                <h4>$28,000.00</h4>
                <h5>Requerimientos</h5>
                <p>Carta de recepción</p>
                <p>Borrador de investigación</p>
                <p>Estimación de gastos</p>
                <button class="white-bold">Inscribirme</button>
            </div>
        </div>
        <button>Ver todos</button>
    </main>
    <section>
        <h3>Apoyos COZCyT</h3>
        <!-- Información de los apoyos de COZCyT -->
    </section>
    <section>
        <h2>Contactanos</h2>
        <!-- Formulario -->
    </section>
    <section>
        <h4>¿A quién contactar para mayor información?</h4>
        <!-- Despegar información de contacto
        Nombre
        Ocupación
        Correo
        Telefonos -->
    </section>
    <footer>
        <section>
            <div>
                <!-- Imagen del cozcyt (contorno) 50px-->
                <p>CONSEJO ZACATECANO DE<br><span>CIENCIA, TECNOLOGÍA <br>E INNOVACIÓN</span><br>ESTADO DE ZACATECAS</p>
            </div>
            <div>
                <h3>
                    UBICACION
                </h3>
                <p><!-- Dirección --></p>
            </div>
            <div>
                <h3>Telefonos</h3>
                <ul>
                    <!-- Agregar como lista los telefonos -->
                </ul>
            </div>
        </section>
        <section>
            <img width="100" src="../../static/assets/images/faces/1.jpg" alt="logo_cozcyt" title="Logo COZCyT">
            <h6>Gobierno del Estado de Zacatecas 2021 - 2027</h6>
            <!-- Insertar logos facebook, twitter, youtube, instagram, correo -->
        </section>
    </footer>
</body>
</html>