{% load static %}
<header class="header-bar">
    <nav class="topbar">
        <div class="brand-bar">
            <img id="brand-logo" src="{%static 'img/icons/Logocozcyt.png'%}" alt="logo_cozcyt"
                title="Logo COZCyT">
        </div>
        <input type="checkbox" id="check-navbar" class="hidden">
        <label for="check-navbar">
            <i class="fa-solid fa-bars navbar-displayer-btn {%if displayer_style%}bg-regular{% endif %}"></i>
        </label>
        <div class="navbar-btns">
            <label for="check-navbar">
                <i class="fa-solid fa-arrow-left navbar-hider-btn"></i>
            </label>
            <a href="{%if link_index%}{% url 'index' %}{% else %}#{% endif %}" {% if a_style %}class="{{a_style}}"{% endif %}>Inicio</a>
            <a href="{% url 'index'%}#apoyos-disponibles" {% if a_style %}class="{{a_style}}"{% endif %}>Apoyos</a>
            <a href="{% url 'index'%}#Nosotros" {% if a_style %}class="{{a_style}}"{% endif %}>Nosotros</a>
            <a href="{% url 'index'%}#form-container" {% if a_style %}class="{{a_style}}"{% endif %}>Contacto</a>
            {% if request.user.is_authenticated %}
            <div class="perfil-container">
                <input type="checkbox" id="check-profile-menu" class="hidden">
                <label for="check-profile-menu" class="boton-reg boton-perfil" id="profile-btn" href="#">
                    <i class="fa-solid fa-caret-down dropdown-ic-expand"></i>
                    {%if request.user.first_name == '' %}
                    S/N
                    {% else %}
                    {{request.user.first_name}}
                    {% endif %}
                </label>
                
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Mi perfil</a>
                    </li>
                    <li>
                        <a href="{% url 'solicitudes_realizadas'%}">Solicitudes realizadas</a>
                    </li>
                    <li>
                        <a href="{% url 'usuarios:cerrar_sesion' %}">Cerrar sesión</a>
                    </li>
                </ul>
            </div>
            {% else %}
            <a class="boton-reg boton-perfil" id="login-btn" href="{%url 'usuarios:login'%}">Login/Registro</a>
            {%endif%}
        </div>
        <div class="bg-navbar"></div>
    </nav>
</header>