<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solicitud enviada</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'error' %}
      <script>
          Swal.fire({
          title: "Error",
          text: "{{ message }}",
          icon: "error",
        });
      </script>
  {% endif %}
  {% if message.tags == 'success' %}
      <script>
        Swal.fire({
        title: "Éxito",
        text: "{{ message }}",
        icon: "success",
      });
      </script>
  {% endif %}
  {% endfor %}
{% endif %}
<body>
    <h1>Hola mundo</h1>
</body>
</html>