{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{modalidad.nombre}}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" crossorigin="anonymous">
</head>
<body>
    {% include "navbar.html" with a_style='link-header' displayer_style='True' link_index='True' %}
    <main>
        <section id="info-container">
            <div>
                <img src="../../static/img/icons/logodocbeca.png" id="logobeca">
            </div>
            <div id="info-container-desc">
                <h3 class="info-container-title">{{modalidad.nombre}}</h3>
                <p id="section-p-descripcion">Descripción:</p>
                <p>{{modalidad.descripcion}}</p>
                <br>
                <h4 class="info-container-data">Presupuesto máximo: <span>${{modalidad.presupuesto|floatformat:"2g"}}</span></h4>
                <h4 class="info-container-data">Requerimientos:</h4>
                <ul id="info-container-list">
                    <li>{{modalidad.requisitos}}</li>
                </ul>
                <h4 class="info-container-data">Reglas de operación:</h4>
                <p>Consulta el archivo con nuestras reglas de operación dando <a id="click-sin-formato" href="#">click aquí.</a></p>
            </div>
        </section>
        <section id="form-container">
            <h3 id="form-container-h3">Solicitud de apoyo</h3>
            <form method="POST" action="">
                {% csrf_token %}
                <div id="forms">
                    <div class="two-container">
                        {% for atributo in atributos %}
                        <div id="label-input-container">
                            <label id="input-label" for="{{atributo.nombre}}">{{atributo.nombre}}*</label>
                            <div class="form-input_container">
                                {% if atributo.tipo_atributo == 'Texto' %}
                                    <i class="icon_container fa-solid fa-pencil"></i>
                                {% elif atributo.tipo_atributo == 'Numero' %}
                                    <i class="icon_container fa-solid fa-pencil"></i>
                                {% elif atributo.tipo_atributo == 'Fecha' %}
                                    <i class="icon_container fa-solid fa-calendar-day"></i>
                                {% elif atributo.tipo_atributo == 'Documento' %}
                                    <i class="icon_container fa-solid fa-book"></i>
                                {% elif atributo.tipo_atributo == 'Telefono' %}
                                    <i class="icon_container fa-solid fa-phone"></i>
                                {% endif %}
                                <input name="{{atributo.nombre}}" class="input_container" placeholder="{{atributo.nombre}}" required title="{{atributo.nombre}}"
                                        {% if atributo.tipo_atributo == 'Texto' %}
                                            type="text"
                                        {% elif atributo.tipo_atributo == 'Numero' %}
                                            type="number"
                                        {% elif atributo.tipo_atributo == 'Fecha' %}
                                            type="date"
                                        {% elif atributo.tipo_atributo == 'Documento' %}
                                            type="file" id="form-document"
                                        {% elif atributo.tipo_atributo == 'Telefono' %}
                                            type="phone"
                                        {% endif %}>
                            </div>
                        </div>
                        {% endfor %}
                        <input name="id_formulario" style="display:none;" value="{{formulario.pk}}">
                    </div>
                </div>
                <div id="text-area-container">
                    <div id="form-textarea_container">
                        <i class="icon_container fa-solid fa-pencil"></i>
                        <textarea placeholder="Notas adicionales*" title="Notas adicionales"></textarea>
                    </div>
                </div>
                <div id="form-footer_container">
                    <div id="form-footer">
                        <button type="submit">
                            <i class="fa-solid fa-envelope"></i>
                            <p>ENVIAR</p>
                        </button>
                        <p id="form-footer_campos">* Campos requeridos</p>
                    </div>
                </div>
            </form>
        </section>
    </main>
    {% include "footer.html" %}
</body>
</html>