{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de apoyos</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      crossorigin="anonymous"
    />
  </head>
  {% if messages %} 
  {% for message in messages %} 
  {% if message.tags == 'error'%}
  <script>
    Swal.fire({
      title: "Error",
      text: "{{ message }}",
      icon: "error",
    });
  </script>
  {% endif %} 
  {% if message.tags == 'success' %}
  <script>
    Swal.fire({
      title: "Éxito",
      text: "{{ message }}",
      icon: "success",
    });
  </script>
  {% endif %} 
  {% endfor %} 
  {% endif %}
  <body class="preload">
    <!------------------------CABECERA--------------------------------------------------->
    {% include "navbar.html" with a_style='link-header' displayer_style='True' link_index='True' %}
    <!--------------------------------------------------------------------------->
    <div class="info-bar">
      <h2 class="bg-text-line apoyos-solicitados-title">Apoyos solicitados</h2>
    </div>
    <div class="table-solicitudes-container">
        <table class="table-solicitudes">
          <tr>
              <th>Nombre modalidad</th>
              <th>Fecha solicitud</th>
              <th>Estado</th>
              <th>Monto solicitado</th>
              <th>Acciones</th>
          </tr>
          {% for solicitud in page_obj %}
          <tr>
              <td>{{ solicitud.id_modalidad.nombre }}</td>
              <td>{{ solicitud.fecha_solicitud }}</td>
              <td>{{ solicitud.id_estatus.nombre }}</td>
              <td>${{solicitud.monto_solicitado|floatformat:"2g"}}</td>
              <td>
                  <button class="detail-button" data-id="{{ solicitud.id_solicitud }}">Detalles</button>
              </td>
          </tr>
          {% endfor %}
      </table>
    </div>

  <div class="pagination page-number">
      {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}" class="page-link" title="Anterior">&laquo;</a>
        {% else %}
            <a href="#" class="page-link desactivar">&laquo;</a>
        {% endif %}

        {% for var1 in page_range %}
            {% if var1 == page_obj.paginator.ELLIPSIS %}
                <a href="#" class="page-link desactivar">...</a>
            {% else %}
                <a href="?page={{ var1 }}" class="page-link {% if page_obj.number == var1 %} link_activo {% endif %}">{{ var1 }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}" class="page-link" title="Siguiente">&raquo;</a>
        {% else %}
            <a href="#" class="page-link desactivar">&raquo;</a>
        {% endif %}
  </div>



    {% include "footer.html" %}
  </body>
  <script src="{% static 'js/navbar_utils.js' %}"></script>
</html>
