{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'assets/extensions/sweetalert2/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main/app.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/pages/auth.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.svg' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png' %}" type="image/png">

    <script src="{% static 'assets/extensions/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/sweetalert2.js' %}"></script>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <script>
                    Swal.fire({
                        title: "Error",
                        text: "{{ message }}",
                        icon: "error",
                    });
                </script>
            {% endif %}
            {% if message.tags == 'success' %}
                <script>
                    Swal.fire({
                        title: "Éxito",
                        text: "{{ message }}",
                        icon: "success",
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
        <div id="auth">
            
    <div class="row h-100">
        <div class="col-lg-5 col-12">
            <div id="auth-left">
                <div class="auth-logo">
                    <a href="index.html"><img src="{% static 'img/icons/Logocozcyt.png' %}" alt="Logo"></a>
                </div>
                <h1 class="auth-title">Iniciar sesion</h1>
                {% if error %}
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: '{{ error }}',
                        });
                    });
                </script>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input type="email" name="correo" id="correo" class="form-control form-control-xl" placeholder="correo">
                        <div class="form-control-icon">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input type="password" id="password" name="password" class="form-control form-control-xl" placeholder="contraseña">
                        <div class="form-control-icon">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-institucional btn-block btn-lg shadow-lg mt-5">Iniciar sesión</button>
                </form>
                <div class="text-center mt-5 text-lg fs-4">
                    <p class="text-gray-600">¿Aun no tienes cuenta? <a href="{% url 'usuarios:registro' %}" class="font-bold">
                        Registrate
                    </a>.</p>
                    <p><a class="font-bold" href="#">¿Haz olvidado tú contraseña?</a>.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
            <div id="auth-right">
            </div>
        </div>
    </div>
    
    </div>
</body>  
</html>
