<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restablecer contraseña</title>
</head>
<body>
    <h1>Restablecer tu contraseña</h1>
    <p>Has solicitado restablecer tu contraseña. Para hacerlo, por favor, haz click en el siguiente botón:</p>
    <a href="http://{{ domain }}/usuarios/reset/{{uid}}/{{token}}" style="background-color: #007BFF; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block;">
        Restablecer Contraseña
    </a>
    <p>Si no has solicitado restablecer tu contraseña, por favor, ignora este correo.</p>
</body>
</html>
