{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Mazer Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'assets/extensions/sweetalert2/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main/app.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/pages/auth.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.svg' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png' %}" type="image/png">

    <script src="{% static 'assets/extensions/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/sweetalert2.js' %}"></script>
</head>
{% if messages %}
{% for message in messages %}
    {% if message.tags == 'error' %}
        <script>
            Swal.fire({
                title: "Error",
                text: "{{ message }}",
                icon: "error",
            });
        </script>
    {% endif %}
    {% if message.tags == 'success' %}
        <script>
            Swal.fire({
                title: "Éxito",
                text: "{{ message }}",
                icon: "success",
            });
        </script>
    {% endif %}
{% endfor %}
{% endif %}

<body>
    <div id="auth">
        
<div class="row h-100">
    <div class="col-lg-5 col-12">
        <div id="auth-left">
            <div class="auth-logo">
                <a href="{%url 'index'%}"><img src="{% static 'img/icons/Logocozcyt.png' %}" alt="Logo"></a>
            </div>
            <h1 class="auth-title">¿Olvidaste tu contraseña?</h1>
            <p class="auth-subtitle mb-5">Introduce tu correo electronico para recuperarla</p>

            <form method="post">
                {% csrf_token %}
                <div class="form-group position-relative has-icon-left mb-4">
                    <input type="email" name="correo" id="correo" class="form-control form-control-xl" placeholder="Correo">
                    <div class="form-control-icon">
                        <i class="bi bi-envelope"></i>
                    </div>
                </div>
                <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Enviar</button>
            </form>
            <div class="text-center mt-5 text-lg fs-4">
                <p class='text-gray-600'>¿Recordaste tu contraseña?, <a href="{%url 'usuarios:login'%}" class="font-bold">inicia sesion</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
        <div id="auth-right">

        </div>
    </div>
</div>

    </div>
</body>

</html>
