{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Formulario de Solicitante</title>
    <link rel="stylesheet" href="{% static 'assets/extensions/sweetalert2/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <script src="{% static 'assets/extensions/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/sweetalert2.js' %}"></script>
</head>

<body>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <script>
                    Swal.fire({
                        title: 'Error',
                        text: '{{ message }}',
                        icon: 'error'
                    });
                </script>
            {% endfor %}
        {% endif %}
        {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                {% for error in field.errors %}
                <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
            <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
        {% endif %}
        <form class="register-form" method="POST" action="{% url 'registro' %}">
            {% csrf_token %}
            <h2 class="text-center mb-4">Formulario de registro para solicitantes</h2>
            <div class="form-group">
                <input type="email" name="{{ form.email.name }}" class="form-control" placeholder="Correo electronico" value="{{ form.email.value|default:'' }}" required>
                <input type="text" name="{{ form.username.name }}" class="form-control" placeholder="Nombre de usuario" required>
            </div>
            <div class="form-group">
                <input type="password" name="{{ form.password1.name }}" class="form-control" placeholder="Contraseña" required>
                <input type="password" name="{{ form.password2.name }}" class="form-control" placeholder="Confirma contraseña" required>
            </div>
            <div class="form-group">
                <input type="text" name="{{ form.first_name.name }}" class="form-control" placeholder="Nombre(s)" required>
                <input type="text" name="{{ form.apellido_paterno.name }}" class="form-control" placeholder="Apellido paterno" required>
                <input type="text" name="{{ form.apellido_materno.name }}" class="form-control" placeholder="Apellido materno" required>
            </div>
            <div class="form-group">
                <input type="text" name="{{ form.telefono_particular.name }}" class="form-control" placeholder="Telefono particular" required>
                <input type="text" name="{{ form.telefono_celular.name }}" class="form-control" placeholder="Telefono celular" required>
            </div>
            <div class="form-group">
                <input type="text" name="{{ form.ultimo_grado_estudios.name }}" class="form-control" placeholder="Ultimo grado de estudios" required>
                <input type="text" name="{{ form.domicilio_calle.name }}" class="form-control" placeholder="Calle" required>
            </div>
            <div class="form-group">
                <input type="text" name="{{ form.institucion.name }}" class="form-control" placeholder="institucion" required>
                <input type="text" name="{{ form.domicilio_codigo_postal.name }}" class="form-control" placeholder="Codigo postal" required>
            </div>
            <div class="form-group">
                <input type="text" name="{{ form.domicilio_numero_exterior.name }}" class="form-control" placeholder="Numero exterior" required>
                <input type="text" name="{{ form.domicilio_numero_interior.name }}" class="form-control" placeholder="Numero interior" optional>
            </div>
            <div class="form-group">
            <select name="{{ form.genero.name }}" id="{{ form.genero.auto_id }}" class="form-control" required>
                <option value="">Selecciona una opción</option>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
        </div>
        <div class="text-center">
            <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Iniciar sesión</a></p>
        </div>
        </form>
    </div>
</body>

</html>